<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
             
            .week 
            {
                border: 1x solid orange;
                padding: 3%;
                margin-left:5%;
            }
        </style>
    </head>
    <body>
        <p><h3>ID : {{student.id}}</h3></p>
        <p><h2>Name : {{student.name}}</h3></p>
        <P>Total attendance : {{attendance_variable}}/{{out_of_attendance_variable}}</P>
        <p>Attendance Percentage: {{attendance_percentage}}%</p>
        <p>{{message}}</p>
        {% for attendance in attendances %}
            <table>
                <tr>
                    <th>Date</th>
                    <th>Attendance</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{attendance.day1}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{attendance.day2}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{attendance.day3}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{attendance.day4}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{attendance.day5}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{attendance.day6}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{attendance.day7}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{attendance.day8}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{attendance.day9}}</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>{{attendance.day10}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Attendance</th>

                </tr>
                <tr>
                    <td>11</td>
                    <td>{{attendance.day11}}</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>{{attendance.day12}}</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>{{attendance.day13}}</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>{{attendance.day14}}</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>{{attendance.day15}}</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>{{attendance.day16}}</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>{{attendance.day17}}</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>{{attendance.day18}}</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>{{attendance.day19}}</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>{{attendance.day20}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Date</td>
                    <th>Attendance</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>{{attendance.day21}}</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>{{attendance.day22}}</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>{{attendance.day23}}</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>{{attendance.day24}}</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>{{attendance.day25}}</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>{{attendance.day26}}</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>{{attendance.day27}}</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>{{attendance.day28}}</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>{{attendance.day29}}</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>{{attendance.day30}}</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>{{attendance.day31}}</td>
                </tr>
                
            </table>
        {% endfor %}
        
    </body>
</html>