<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    </head>
    <body>
            <h1>{{whose_login}}</h1>
            <form method="post">
            <div class="login_logo"><h1><span id = "log">log</span>in</h1></div>
            {{message}}
            <div class="mini_form">
                {% csrf_token %}
                <div class="creds">
                    <p>
                    <label for="id_username">username</label>
                    </p>
                    <p>
                    <input class="input" type="text" name="username" autofocus="" required="" id="id_username">
                    </p>
                </div>
                <div class="creds">
                    <p>
                    <label for="id_password">password</label>
                    </p>
                    <p>
                    <input class = "input"  type="password" name="password" required="" id="id_password">
                    </p>
                </div>	
                <button class="login_button" type = "submit">login</button>
            </div>
            </form>
        
    </body>
</html>
